In [6]:
import pandas as pd 
import geopandas as gp

In [4]:
path = r'/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/'

In [24]:
df_school.columns

Index(['_id', 'OBJECTID', 'GEO_ID', 'NAME', 'BOARD_NAME', 'SOURCE_ADDRESS',
       'SCHOOL_TYPE_DESC', 'ADDRESS_POINT_ID', 'ADDRESS_NUMBER',
       'LINEAR_NAME_FULL', 'ADDRESS_FULL', 'POSTAL_CODE', 'MUNICIPALITY',
       'CITY', 'PLACE_NAME', 'LATITUDE', 'LONGITUDE', 'geometry',
       'neighbourhood'],
      dtype='object')

In [25]:
df_house = pd.read_csv(path + 'house_with_neigh.csv')
df_school = pd.read_csv(path + 'Schools_with_neigh.csv')
gpf_house = gp.GeoDataFrame(df_house, crs="EPSG:4326", geometry=gp.points_from_xy(df_house.long,df_house.lat))
gpf_school= gp.GeoDataFrame(df_school, crs="EPSG:4326", geometry=gp.points_from_xy(df_school.LONGITUDE,df_school.LATITUDE))

In [11]:
gpf_school.columns

Index(['_id', 'OBJECTID', 'GEO_ID', 'NAME', 'BOARD_NAME', 'SOURCE_ADDRESS',
       'SCHOOL_TYPE_DESC', 'ADDRESS_POINT_ID', 'ADDRESS_NUMBER',
       'LINEAR_NAME_FULL', 'ADDRESS_FULL', 'POSTAL_CODE', 'MUNICIPALITY',
       'CITY', 'PLACE_NAME', 'LATITUDE', 'LONGITUDE', 'geometry',
       'neighbourhood'],
      dtype='object')

In [34]:
from shapely.ops import nearest_points
pts3 = gpf_school.geometry.unary_union
def near(point, pts=pts3):
     # find the nearest point and return the corresponding Place value
     nearest = gpf_school.geometry == nearest_points(point, pts)[1]
     return gpf_school[nearest].PLACE_NAME.values[0]
gpf_house['Nearest'] = gpf_house.apply(lambda row: near(row.geometry), axis=1)
gpf_house

,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,...,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc,neighbourhood,geometry,Nearest
0,43.753182,-79.507053,NaN,4,29958,1,3,2,930000,0,...,0,0,1,0,0,0,0,York University Heights,POINT (-79.50705 43.75318),[Lamberton Public School]
1,43.753090,-79.491536,1300.0,1,29958,0,3,3,413000,0,...,0,1,0,0,0,0,0,York University Heights,POINT (-79.49154 43.75309),[Stilecroft Public School]
2,43.753090,-79.491536,1300.0,3,29958,1,3,2,400000,0,...,0,1,0,0,0,0,0,York University Heights,POINT (-79.49154 43.75309),[Stilecroft Public School]
3,43.753177,-79.490821,950.0,1,29958,0,2,1,343000,0,...,1,0,0,0,0,0,0,York University Heights,POINT (-79.49082 43.75318),[Stilecroft Public School]
4,43.753177,-79.490821,650.0,1,29958,0,1,1,318000,0,...,1,0,0,0,0,0,0,York University Heights,POINT (-79.49082 43.75318),[Stilecroft Public School]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15229,43.695730,-79.456497,NaN,1,34768,0,2,2,836500,0,...,0,0,1,0,0,0,0,Briar Hill-Belgravia,POINT (-79.45650 43.69573),[Fairbank Memorial Community School - Building...
15230,43.696020,-79.461606,1750.0,2,34768,1,3,4,1210000,0,...,0,0,1,0,0,0,0,Briar Hill-Belgravia,POINT (-79.46161 43.69602),[Fairbank Memorial Community School - Building...
15231,43.696198,-79.456758,NaN,3,34768,0,2,2,910000,0,...,0,0,1,0,0,0,0,Briar Hill-Belgravia,POINT (-79.45676 43.69620),[Fairbank Memorial Community School - Building...
15232,43.696241,-79.456321,NaN,1,34768,0,2,2,808000,0,...,0,0,1,0,0,0,0,Briar Hill-Belgravia,POINT (-79.45632 43.69624),[Fairbank Memorial Community School - Building...
15233,43.696445,-79.461848,900.0,0,34768,0,2,1,625500,0,...,0,0,1,0,0,0,0,Briar Hill-Belgravia,POINT (-79.46185 43.69644),[Fairbank Memorial Community School - Building...

In [38]:
gpf_house.isna().sum()

lat                           0
long                          0
sqft                       4521
parking                       0
mean_district_income          0
bedrooms_bg                   0
bedrooms_ag                   0
bathrooms                     0
final_price                   0
type_Att/Row/Twnhouse         0
type_Co-Op Apt                0
type_Co-Ownership Apt         0
type_Comm Element Condo       0
type_Condo Apt                0
type_Condo Townhouse          0
type_Detached                 0
type_Link                     0
type_Plex                     0
type_Semi-Detached            0
type_Store W/Apt/Offc         0
neighbourhood                 0
geometry                      0
Nearest                       0
dtype: int64

In [41]:
gpf_house.Nearest.value_counts

<bound method IndexOpsMixin.value_counts of 0                                [Lamberton Public School]
1                               [Stilecroft Public School]
2                               [Stilecroft Public School]
3                               [Stilecroft Public School]
4                               [Stilecroft Public School]
                               ...
15229    [Fairbank Memorial Community School - Building...
15230    [Fairbank Memorial Community School - Building...
15231    [Fairbank Memorial Community School - Building...
15232    [Fairbank Memorial Community School - Building...
15233    [Fairbank Memorial Community School - Building...
Name: Nearest, Length: 15234, dtype: object>