In [1]:
import pandas as pd

In [3]:
abspath = '/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/'

In [5]:
df_airbnb = pd.read_csv(abspath + 'House/House_num_airbnb.csv')
df = pd.read_csv('output.csv')

In [8]:
df.columns

Index(['lat', 'long', 'sqft', 'parking', 'mean_district_income', 'bedrooms_bg',
       'bedrooms_ag', 'bathrooms', 'final_price', 'type_Att/Row/Twnhouse',
       'type_Co-Op Apt', 'type_Co-Ownership Apt', 'type_Comm Element Condo',
       'type_Condo Apt', 'type_Condo Townhouse', 'type_Detached', 'type_Link',
       'type_Plex', 'type_Semi-Detached', 'type_Store W/Apt/Offc', 'geometry',
       'neighbourhood', 'dist_nearest_school', 'dist_nearest_ttc',
       'Assault_2014_500m', 'Assault_2015_500m', 'Assault_2016_500m',
       'Assault_2017_500m', 'Assault_2018_500m', 'Assault_2019_500m',
       'Auto Theft_2014_500m', 'Auto Theft_2015_500m', 'Auto Theft_2016_500m',
       'Auto Theft_2017_500m', 'Auto Theft_2018_500m', 'Auto Theft_2019_500m',
       'Break and Enter_2014_500m', 'Break and Enter_2015_500m',
       'Break and Enter_2016_500m', 'Break and Enter_2017_500m',
       'Break and Enter_2018_500m', 'Break and Enter_2019_500m',
       'Robbery_2014_500m', 'Robbery_2015_500m', 'Robbery_2016_500m',
       'Robbery_2017_500m', 'Robbery_2018_500m', 'Robbery_2019_500m',
       'Theft Over_2014_500m', 'Theft Over_2015_500m', 'Theft Over_2016_500m',
       'Theft Over_2017_500m', 'Theft Over_2018_500m', 'Theft Over_2019_500m',
       'Assault_2014_1000m', 'Assault_2015_1000m', 'Assault_2016_1000m',
       'Assault_2017_1000m', 'Assault_2018_1000m', 'Assault_2019_1000m',
       'Auto Theft_2014_1000m', 'Auto Theft_2015_1000m',
       'Auto Theft_2016_1000m', 'Auto Theft_2017_1000m',
       'Auto Theft_2018_1000m', 'Auto Theft_2019_1000m',
       'Break and Enter_2014_1000m', 'Break and Enter_2015_1000m',
       'Break and Enter_2016_1000m', 'Break and Enter_2017_1000m',
       'Break and Enter_2018_1000m', 'Break and Enter_2019_1000m',
       'Robbery_2014_1000m', 'Robbery_2015_1000m', 'Robbery_2016_1000m',
       'Robbery_2017_1000m', 'Robbery_2018_1000m', 'Robbery_2019_1000m',
       'Theft Over_2014_1000m', 'Theft Over_2015_1000m',
       'Theft Over_2016_1000m', 'Theft Over_2017_1000m',
       'Theft Over_2018_1000m', 'Theft Over_2019_1000m'],
      dtype='object')

In [9]:
df_airbnb.rename(columns={'within_500_m':'Airbnb_500m', 'within_500_1km':'Airbnb_1000m' },inplace = True)

In [10]:
select_col_airbnb = ['Airbnb_500m','Airbnb_1000m']
df_airbnb = df_airbnb[select_col_airbnb]

In [11]:
len(df_airbnb)

15234