In [1]:
import pandas as pd

In [2]:
dforg = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/mastermodel_filledv2.csv')
dfnew = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Airbnb/House_num_airbnbv2.csv')

In [3]:
dforg.head()

,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,type_Co-Op Apt,type_Co-Ownership Apt,...,neighbourhood_Woodbine-Lumsden,neighbourhood_Wychwood,neighbourhood_Yonge-Eglinton,neighbourhood_Yonge-St.Clair,neighbourhood_York University Heights,neighbourhood_Yorkdale-Glen Park,Auto Theft500m,Auto Theft1000m,violent_crime1000m,violent_crime500m
0,850.000000,1,56526,1,2,2,855000,0,0,0,...,0,0,0,0,0,0,55,230,7409,2994
1,1295.319092,6,52787,0,3,2,885000,0,0,0,...,0,0,0,0,0,0,40,61,381,570
2,550.000000,0,57039,0,1,1,550000,0,0,0,...,0,0,0,0,0,0,29,63,830,1241
3,650.000000,1,70623,1,1,1,665000,0,0,0,...,0,0,0,0,0,0,37,82,1732,683
4,977.184326,1,44101,0,2,2,825513,0,0,0,...,0,0,0,0,0,0,19,37,642,215

In [6]:
dfnew.head()

,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,...,type_Semi-Detached,type_Store W/Apt/Offc,neighbourhood,geometry,Airbnb19_500m,Airbnb19_1000m,Airbnb15_500m,Airbnb15_1000m,Airbnb500m_YOY1519,Airbnb1000m_YOY1519
0,43.753182,-79.507053,NaN,4,29958,1,3,2,930000,0,...,0,0,York University Heights,POINT (-1388957.608410053 14388213.36723943),26,19,0,0,26,19
1,43.753090,-79.491536,1300.0,1,29958,0,3,3,413000,0,...,0,0,York University Heights,POINT (-1390210.682081771 14387913.3911967),12,19,2,1,10,18
2,43.753090,-79.491536,1300.0,3,29958,1,3,2,400000,0,...,0,0,York University Heights,POINT (-1390210.682081771 14387913.3911967),12,19,2,1,10,18
3,43.753177,-79.490821,950.0,1,29958,0,2,1,343000,0,...,0,0,York University Heights,POINT (-1390265.891542583 14387889.37642985),11,17,2,1,9,16
4,43.753177,-79.490821,650.0,1,29958,0,1,1,318000,0,...,0,0,York University Heights,POINT (-1390265.891542583 14387889.37642985),11,17,2,1,9,16

In [8]:
dforg.shape

(15234, 166)

In [9]:
dfnew.shape

(15234, 28)

In [11]:
dfnew = dfnew[['Airbnb500m_YOY1519', 'Airbnb1000m_YOY1519']]

In [16]:
df = dforg.merge(dfnew, left_index=True, right_index=True)

In [18]:
df.drop(columns=['Airbnb_500m', 'Airbnb_1000m'], inplace=True)

In [19]:
df.to_csv('mastermodel_filled_Airbnbfix.csv', index=False)