In [10]:
import pandas as pd 
import geopandas as gp

In [3]:
%pip install geopandas

Collecting geopandas
  Downloading geopandas-0.8.2-py2.py3-none-any.whl (962 kB)
     |████████████████████████████████| 962 kB 2.3 MB/s
Requirement already satisfied: pandas>=0.23.0 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from geopandas) (1.0.5)
Collecting shapely
  Downloading Shapely-1.7.1-cp38-cp38-manylinux1_x86_64.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 2.5 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.0.0.post1-cp38-cp38-manylinux2010_x86_64.whl (6.5 MB)
     |████████████████████████████████| 6.5 MB 1.7 MB/s
Collecting fiona
  Downloading Fiona-1.8.18-cp38-cp38-manylinux1_x86_64.whl (14.7 MB)
     |████████████████████████████████| 14.7 MB 1.7 MB/s
Requirement already satisfied: numpy>=1.13.3 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from pandas>=0.23.0->geopandas) (2020.1)
Requirement already satisfied: certifi in /home/semipro321/anaconda3/lib/python3.8/site-packages (from pyproj>=2.2.0->geopandas) (2020.6.20)
Requirement already satisfied: six>=1.7 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (1.15.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click<8,>=4.0 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /home/semipro321/anaconda3/lib/python3.8/site-packages (from fiona->geopandas) (19.3.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.1-py3-none-any.whl (7.1 kB)
Installing collected packages: shapely, pyproj, click-plugins, munch, cligj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.2 munch-2.5.0 pyproj-3.0.0.post1 shapely-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [7]:
df_house = pd.read_csv('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/housev2.csv')

In [23]:
df_house.shape

(15234, 21)

In [12]:
gdp_house = gp.GeoDataFrame(df_house,
                           geometry = gp.points_from_xy(df_house.long,df_house.lat),
                            crs="EPSG:4326")

In [13]:
gdp_house.head()

,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,...,type_Co-Ownership Apt,type_Comm Element Condo,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc,geometry
0,43.661896,-79.385748,850.0,1,56526,1,2,2,855000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.38575 43.66190)
1,43.646982,-79.530356,NaN,6,52787,0,3,2,885000,0,...,0,0,0,0,0,0,0,1,0,POINT (-79.53036 43.64698)
2,43.708472,-79.397498,550.0,0,57039,0,1,1,550000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.39750 43.70847)
3,43.638399,-79.414448,650.0,1,70623,1,1,1,665000,0,...,0,0,1,0,0,0,0,0,0,POINT (-79.41445 43.63840)
4,43.597096,-79.509612,NaN,1,44101,0,2,2,825513,0,...,0,0,0,0,1,0,0,0,0,POINT (-79.50961 43.59710)

In [15]:
df_nei = gp.read_file('/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/Airbnb/neighbourhoods.geojson')

In [16]:
hjoins = gp.sjoin(gdp_house, df_nei, how='right',op='within')

In [24]:
hjoins.head()

,index_left,lat,long,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,...,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc,neighbourhood,neighbourhood_group,geometry
0,6922,43.753182,-79.507053,NaN,4,29958,1,3,2,930000,...,0,0,1,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,7643,43.753090,-79.491536,1300.0,1,29958,0,3,3,413000,...,0,1,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,5373,43.753090,-79.491536,1300.0,3,29958,1,3,2,400000,...,0,1,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,13300,43.753177,-79.490821,950.0,1,29958,0,2,1,343000,...,1,0,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."
0,5767,43.753177,-79.490821,650.0,1,29958,0,1,1,318000,...,1,0,0,0,0,0,0,York University Heights,None,"MULTIPOLYGON (((-79.50529 43.75987, -79.50488 ..."

In [25]:
hjoins.drop(columns=['index_left','neighbourhood_group'], inplace=True)

In [26]:
hjoins.to_csv('house_with_neigh.csv', index=False)