In [1]:
import pandas as pd
import os

os.chdir('../../Inputs/Airbnb')
pathfile = 'airbnb_master_listings.csv'
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(pathfile)

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,file
0,1419,Beautiful home in amazing area!,1565,Alexandra,NaN,Little Portugal,43.64617,-79.42451,Entire home/apt,468,4,7,2017-12-04,0.15,1,0,04june2019_listings.csv
1,8077,Downtown Harbourfront Private Room,22795,Kathie & Larry,NaN,Waterfront Communities-The Island,43.64105,-79.37628,Private room,100,180,169,2013-08-27,1.42,2,0,04june2019_listings.csv
2,12604,Seaton Village Parlour Bedroom,48239,Rona,NaN,Annex,43.66724,-79.41598,Private room,67,1,0,NaN,NaN,1,0,04june2019_listings.csv
3,23691,Queen Bedroom close to downtown,93825,Yohan & Sarah,NaN,Briar Hill-Belgravia,43.69602,-79.45468,Private room,72,1,209,2019-04-23,1.90,2,223,04june2019_listings.csv
4,26654,"World Class downtown@ CN Tower! Jays, TIFF, ACC",113345,Adela,NaN,Waterfront Communities-The Island,43.64530,-79.38940,Entire home/apt,199,4,37,2019-05-14,0.36,7,321,04june2019_listings.csv

In [4]:
df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,file
142096,34449599,Convenience Hub,121442022,Birkan,NaN,Mount Pleasant West,43.71277,-79.39591,Private room,81,2,0,NaN,NaN,1,365,06may2019_listings.csv
142097,34449766,Cozy condo with amazing view of CN Tower <3,260067997,Sherry,NaN,Niagara,43.63760,-79.40648,Entire home/apt,119,2,0,NaN,NaN,2,17,06may2019_listings.csv
142098,34450478,"R2: Queen Size Bed Upstairs, Scarborough",109012911,Iouri,NaN,Tam O'Shanter-Sullivan,43.77689,-79.29251,Private room,34,1,0,NaN,NaN,1,176,06may2019_listings.csv
142099,34450621,Modern condo in heart of Toronto downtown!,260067997,Sherry,NaN,Bay Street Corridor,43.66689,-79.38622,Entire home/apt,99,2,0,NaN,NaN,2,14,06may2019_listings.csv
142100,34450758,Fully Furnished 4 Bedroom Upstairs of Bungalow,6110142,Yusuf,NaN,Newtonbrook West,43.78661,-79.42913,Entire home/apt,119,1,0,NaN,NaN,2,165,06may2019_listings.csv

In [5]:
df['neighbourhood_group'].value_counts()

Series([], Name: neighbourhood_group, dtype: int64)

In [6]:
df['neighbourhood'].value_counts()

Waterfront Communities-The Island    25516
Niagara                               6316
Annex                                 5659
Church-Yonge Corridor                 4737
Bay Street Corridor                   4022
                                     ...
Beechborough-Greenbrook                 80
Rustic                                  74
Humber Summit                           70
Elms-Old Rexdale                        64
Markland Wood                           45
Name: neighbourhood, Length: 140, dtype: int64

In [9]:
df.isna().sum()

id                                0
host_id                           0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
calculated_host_listings_count    0
availability_365                  0
file                              0
dtype: int64

- Columns we need
    - Id, name, host_id, neighbourhood, lat, long, room_type, price, availability, cacl host listing count, file

In [8]:
df.drop(columns=['neighbourhood_group', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'host_name', 'name'], inplace=True)

In [11]:
df.to_csv('../../Outputs/airbnb_master_listing_reduced.csv', index=False)