In [1]:
import pandas as pd

In [2]:
abpath = '/home/semipro321/Documents/Workspace/Geospatial-Analysis-on-House-Price-Prediction/Inputs/'

In [3]:
df_house = pd.read_csv(abpath + 'houseedit.csv')

In [4]:
df_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15234 entries, 0 to 15233
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    15234 non-null  int64
 1   title                    15234 non-null  object
 2   final_price              15234 non-null  int64
 3   list_price               15234 non-null  int64
 4   bedrooms                 15234 non-null  object
 5   bathrooms                15234 non-null  int64
 6   sqft                     10713 non-null  float64
 7   parking                  15234 non-null  int64
 8   description              15185 non-null  object
 9   mls                      15234 non-null  object
 10  type                     15234 non-null  object
 11  full_link                15234 non-null  object
 12  full_address             15234 non-null  object
 13  lat                      15234 non-null  float64
 14  long                     15234 non-null  float64
 15  city_district            15234 non-null  object
 16  mean_district_income     15234 non-null  int64
 17  district_code            15234 non-null  int64
 18  final_price_transformed  15234 non-null  float64
 19  final_price_log          15234 non-null  float64
 20  bedrooms_ag              15234 non-null  int64
 21  bedrooms_bg              15234 non-null  int64
dtypes: float64(5), int64(9), object(8)
memory usage: 2.6+ MB

In [5]:
df_house.isna().sum()

index                         0
title                         0
final_price                   0
list_price                    0
bedrooms                      0
bathrooms                     0
sqft                       4521
parking                       0
description                  49
mls                           0
type                          0
full_link                     0
full_address                  0
lat                           0
long                          0
city_district                 0
mean_district_income          0
district_code                 0
final_price_transformed       0
final_price_log               0
bedrooms_ag                   0
bedrooms_bg                   0
dtype: int64

In [6]:
df_house.columns

Index(['index', 'title', 'final_price', 'list_price', 'bedrooms', 'bathrooms',
       'sqft', 'parking', 'description', 'mls', 'type', 'full_link',
       'full_address', 'lat', 'long', 'city_district', 'mean_district_income',
       'district_code', 'final_price_transformed', 'final_price_log',
       'bedrooms_ag', 'bedrooms_bg'],
      dtype='object')

In [20]:
colsneeded = ['lat', 'long', 'sqft', 'parking' , 'mean_district_income', 'bedrooms_bg', 'bedrooms_ag', 'bathrooms', 'type', 'final_price']
df_house_dum = pd.get_dummies(df_house[colsneeded])
predictors = df_house_dum.drop('final_price', axis=1).columns

In [8]:
df_house_dum.head()

,sqft,parking,mean_district_income,bedrooms_bg,bedrooms_ag,bathrooms,final_price,type_Att/Row/Twnhouse,type_Co-Op Apt,type_Co-Ownership Apt,type_Comm Element Condo,type_Condo Apt,type_Condo Townhouse,type_Detached,type_Link,type_Plex,type_Semi-Detached,type_Store W/Apt/Offc
0,850.0,1,56526,1,2,2,855000,0,0,0,0,1,0,0,0,0,0,0
1,NaN,6,52787,0,3,2,885000,0,0,0,0,0,0,0,0,0,1,0
2,550.0,0,57039,0,1,1,550000,0,0,0,0,1,0,0,0,0,0,0
3,650.0,1,70623,1,1,1,665000,0,0,0,0,1,0,0,0,0,0,0
4,NaN,1,44101,0,2,2,825513,0,0,0,0,0,0,1,0,0,0,0