In [1]:
import pandas as pd
import os

os.chdir('../../Inputs')
pathfile = 'houseedit.csv'

In [ ]:
df = pd.read_csv(pathfile)
pd.set_option('display.max_columns', None)

In [4]:
df.tail(10)

,index,title,final_price,list_price,bedrooms,bathrooms,sqft,parking,description,mls,type,full_link,full_address,lat,long,city_district,mean_district_income,district_code,final_price_transformed,final_price_log,bedrooms_ag,bedrooms_bg
15224,17533,"403 - 311 Richmond St E, Toronto (C4327812) | ...",615000,599900,3 + 1 beds,2,950.0,0,Amazing 3Br+Den Corner Unit Condo In The Heart...,C4327812,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"311 Richmond St E, Toronto , Ontario, Canada",43.653125,-79.369479,Moss Park,58915,73,2.390496,13.329378,3,1
15225,17534,"430 - 1091 Kingston Rd, Toronto (E4328315) | Z...",630000,619900,2 beds,2,1100.0,1,Henley Gardens South Facing Unit Overlooking C...,E4328315,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"1091 Kingston Rd, Toronto , Ontario, Canada",43.680856,-79.282310,Birchcliffe-Cliffside,54360,122,2.390588,13.353475,2,0
15226,17535,"27 Harfleur Rd, Toronto (E4330570) | Zoocasa",1050000,1098000,5 + 2 beds,4,NaN,4,L'amoreaux Community | Near Huntingwood And Bi...,E4330570,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"27 Harfleur Rd, Toronto , Ontario, Canada",43.793412,-79.300010,L'Amoreaux,31826,117,2.392351,13.864301,5,2
15227,17537,"1020 - 21 Grand Magazine St, Toronto (C4326957...",565000,559980,1 + 1 beds,1,750.0,1,"1 Bed Rm + Den Condo , 9Ft Ceilings, South Exp...",C4326957,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"21 Grand Magazine St, Toronto , Ontario, Canada",43.636410,-79.402003,Niagara,70623,82,2.390162,13.244581,1,1
15228,17538,"3107 - 23 Hollywood Ave, Toronto (C4327620) | ...",670000,688000,2 + 1 beds,2,850.0,1,"Very Bright Suite With Unobstructed View, Grea...",C4327620,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"23 Hollywood Ave, Toronto , Ontario, Canada",43.765563,-79.410892,Willowdale East,45326,51,2.390821,13.415033,2,1
15229,17539,"1802 - 125 Peter St, Toronto (C4327974) | Zoocasa",785000,799000,2 beds,2,750.0,1,Tableau Condo - Right In The Middle Of The Ent...,C4327974,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"125 Peter St, Toronto , Ontario, Canada",43.648317,-79.393065,Waterfront Communities-The Island,70600,77,2.391394,13.573439,2,0
15230,17540,"179 Raleigh Ave, Toronto (E4327933) | Zoocasa",1025000,998888,5 beds,5,3250.0,2,New Years Special. Brand New House. Beautiful ...,E4327933,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"179 Raleigh Ave, Toronto , Ontario, Canada",43.706338,-79.262789,Clairlea-Birchmount,36232,120,2.392276,13.840203,5,0
15231,17541,"68 Stagecoach Circ, Toronto (E4327881) | Zoocasa",681000,650000,3 beds,3,NaN,1,Absolutely Beautiful **Freehold ** **End Unit*...,E4327881,Att/Row/Twnhouse,https://www.zoocasa.com/toronto-on-real-estate...,"68 Stagecoach Cir, Toronto , Ontario, Canada",43.788258,-79.160342,Centennial Scarborough,54045,133,2.390882,13.431318,3,0
15232,17542,"1706 - 365 Church St, Toronto (C4330888) | Zoo...",590000,590000,1 beds,1,550.0,0,One Year New Luxury Condo Built By Menkes. Hig...,C4330888,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"365 Church St, Toronto , Ontario, Canada",43.660846,-79.378756,Church-Yonge Corridor,53583,75,2.390334,13.287878,1,0
15233,17543,"43 Kalmar Ave, Toronto (E4331128) | Zoocasa",530000,530000,2 + 1 beds,2,NaN,4,Great Builder Lot In Birchcliff Village. Can B...,E4331128,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"43 Kalmar Ave, Toronto , Ontario, Canada",43.691296,-79.268417,Birchcliffe-Cliffside,54360,122,2.389902,13.180632,2,1

### Notes  
- sqft some null values
- MLS??? do we need?
- Final price transformed??? -> whats transformed
- bedrooms_ag (2+1)
- bedrooms_bg (2+1)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15234 entries, 0 to 15233
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    15234 non-null  int64
 1   title                    15234 non-null  object
 2   final_price              15234 non-null  int64
 3   list_price               15234 non-null  int64
 4   bedrooms                 15234 non-null  object
 5   bathrooms                15234 non-null  int64
 6   sqft                     10713 non-null  float64
 7   parking                  15234 non-null  int64
 8   description              15185 non-null  object
 9   mls                      15234 non-null  object
 10  type                     15234 non-null  object
 11  full_link                15234 non-null  object
 12  full_address             15234 non-null  object
 13  lat                      15234 non-null  float64
 14  long                     15234 non-null  float64
 15  city_district            15234 non-null  object
 16  mean_district_income     15234 non-null  int64
 17  district_code            15234 non-null  int64
 18  final_price_transformed  15234 non-null  float64
 19  final_price_log          15234 non-null  float64
 20  bedrooms_ag              15234 non-null  int64
 21  bedrooms_bg              15234 non-null  int64
dtypes: float64(5), int64(9), object(8)
memory usage: 2.6+ MB

In [7]:
df.shape

(15234, 22)

In [9]:
df.describe()

,index,final_price,list_price,bathrooms,sqft,parking,lat,long,mean_district_income,district_code,final_price_transformed,final_price_log,bedrooms_ag,bedrooms_bg
count,15234.000000,1.523400e+04,1.523400e+04,15234.000000,10713.000000,15234.000000,15234.000000,15234.000000,15234.000000,15234.000000,15234.000000,15234.000000,15234.000000,15234.000000
mean,9519.960943,8.827136e+05,8.750930e+05,2.122227,1116.469336,1.559144,43.702658,-79.394666,56065.642576,71.300643,2.391101,13.542090,2.335500,0.539583
std,4882.263253,6.189336e+05,6.358072e+05,1.128122,691.331305,1.345642,0.056806,0.095425,32547.705435,38.673608,0.001729,0.507854,1.136062,0.667572
min,0.000000,1.030000e+05,1.049000e+05,1.000000,250.000000,0.000000,43.588176,-79.621693,25989.000000,1.000000,2.380227,11.542484,0.000000,0.000000
25%,5677.500000,5.350000e+05,5.290000e+05,1.000000,650.000000,1.000000,43.652058,-79.454611,34904.000000,39.000000,2.389940,13.190022,1.000000,0.000000
50%,9803.500000,7.150000e+05,6.999000e+05,2.000000,900.000000,1.000000,43.690963,-79.395589,50580.000000,76.000000,2.391061,13.480038,2.000000,0.000000
75%,13667.750000,9.890000e+05,9.699000e+05,3.000000,1300.000000,2.000000,43.755905,-79.335266,67757.000000,101.000000,2.392164,13.804450,3.000000,1.000000
max,17543.000000,1.318000e+07,1.318000e+07,14.000000,4374.000000,11.000000,43.839372,-79.124094,308010.000000,140.000000,2.397194,16.394211,9.000000,6.000000

In [ ]:
missing_values_count = df.isnull().sum()

In [14]:
missing_values_count

index                         0
title                         0
final_price                   0
list_price                    0
bedrooms                      0
bathrooms                     0
sqft                       4521
parking                       0
description                  49
mls                           0
type                          0
full_link                     0
full_address                  0
lat                           0
long                          0
city_district                 0
mean_district_income          0
district_code                 0
final_price_transformed       0
final_price_log               0
bedrooms_ag                   0
bedrooms_bg                   0
dtype: int64